<header class="header">
    <div class="container">
        <div class="container_logo" >
            <a class="nav_link" routerLink="">
                <img class="logo" src="../../assets/img/Pokédex_logo.png" width="250" height="90" alt="Pokedex-logo" title="Home"/>
            </a>
        
        <nav class="navigation">
            <ul>
                <!--<li><a class="nav_link" routerLink="">Home</a></li>
                <li><a class="nav_link" routerLink="myTeam">My Team</a></li>-->
            </ul>       

            <label class="nav_search" title="Search" for="search">
                <input type="number" placeholder="Search by ID" (ngModelChange)="onSearch($event)" [(ngModel)]="search" name="search" id="search" />
            </label>            
        </nav>
    </div>
    </div>
</header>